body, html{
    margin: 0;
    padding: 0;
    background: #bada88;
    line-height: 1.5;
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, p, div {
    margin: 0;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 20px;
}
section {
    margin: 0;
    padding: 20px 15%;
    padding-bottom: 40px;

}
.podtext{
    text-align: center;
}

h1{
    font-weight: 600;
    font-size: 50px;
}
.footer{
    background-color: #00bdbd;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    
}
.footer a{
    color: #ffffff;
}
.navbar{
    background-color: #00bdbd;
    color: #c3c8d6;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background: #262b37;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    display: inline-block;
    color: #c3c8d6;
    text-decoration: none;
    padding: 20px 45px;
}
.navbar a:hover{
    background-color: #219e9e ;
}
.navbar a:focus{
    background-color: aliceblue;
}
.about-me{
    background-color: #00bdbd;
    color: #ffffff;
    padding-bottom: 200px;
}
.heading{
    width: 100%;
    color: #ffffff;
    background-color: #00bdbd;
    text-align: center;
}
.profile-photo{
    border-radius: 50%;
    width: 250px;
    float:right;
    vertical-align: middle;
    margin: 0 0 20px 20px;   
}

.work, .courses{
    background: #f3f3f3;
  
}
.work h2, .courses h2{
    color: #ff675f;

}
.education p, .education h4, .education h5,
.courses p, .courses h4, .courses h5
.skills p, .skills h4, .skills h5 
.work p, .work h4, .work h5{
    color: #474d5d;
}

.kurzy{
    background-color: #d5d5d5;
    border-radius: 1%;
    margin:20px 0;
    
}

.contact p, .contact a{
    color: #93959c;
    font-size: 17px;
    line-height: 19px;
    padding-bottom: 14px;
}
.contact{
    background-color: #474d5d
}
.contact h3, h2{
    color: #ffffff;
}
table{
    border: #262b37 solid;
    font: 32px sans-serif;
   }
th, td{
    text-align: left;
    border-bottom: 1px solid #756158;
    padding: 10px 0;
}